<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div th:each="listItem : ${shoppingList}" class="ShoppingList">
		<p th:text="${listItem}"></p>
		<a th:href="@{/removeFromShoppingList(item=${listItem})}">
		<button>X</button>
		</a>
	</div>
	
	  <div th:each="favorite : ${favorites}" class="FavoriteRecipes">
        <p th:text="${favorite.name}">Recipe ID</p>
        <form th:action="@{/removeFavorite}" method="post">
            <input type="hidden" th:name="favoriteId" th:value="${favorite.id}"/>
            <button type="submit">Remove</button>
        </form>
    </div>
	
</body>
</html>