<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{/printMoreRecipes}" method="get">
	<p>How many recipes do you want to be displayed?</p>
	<input type="number" name="numOfRecipes" id="numOfRecipes">
	<p>Are there any tags?</p>
	
	<p>Enter the recipe name</p>
	<input type="text" name="recipeName" id="recipeName">
	
	<select name="tags" id="tags">
	 <option th:each="tag : ${tagList}" th:value="${tag}" th:text="${tag}"></option>
	</select>
		
	<button type="submit">Submit</button>
</form>

<div th:each="r : ${recipeList}">
<a th:text="${r.toString}" th:href="@{/recipeInfo(id=${r.id})}"></a>
</div>

<a th:href="@{/Account}">Account</a>

</body>
</html>